<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Facebook Login">
  
  <test thread-count="1" name="suit">
    <classes>
      <class name="Testng.Newtry"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test thread-count="1" name="sample test case for package">
    <packages>
		<package name="training.testNG">
			
		</package>
	</packages>
  </test> <!-- Test -->
  
  <test thread-count="1" name="grouping">
	<groups>
		<run>
			<include name="Regression"/>
			<include name="Sanity"/>
			<exclude name="Smoke"/>
		</run>
	</groups>
	<classes>
		<class name="testNGexecutionorder.TestCaseGrouping"/>
	</classes>
  </test>
  
  <test thread-count="1" name = "test parameters">
	<classes>
		<class name="TestNGDataProviders.TestParameters"/>
		<parameter name="browser" value="Chrome"/>
		<parameter name="username" value="wtwrtw@gmail.com"/>
		<parameter name="password" value="123456"/>
	</classes>
  </test>
  
  
  <test thread-count="1" name = "parameters">
	<classes>
		<class name="TestNGDataProviders.ITParameterization"/>
		<parameter name="i" value="9"/>
		<parameter name="j" value="5"/>
	</classes>
  </test>
  
  
  <listeners>
	<listener class-name="TestNGListeners.IT_Listener"></listener>
  </listeners>
  <test thread-count="1" name="test">
    <classes>
      <class name="TestNGListeners.ITmainListeners"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
